<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>礼品兑换</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="apple-touch-icon" href="//mindmup.s3.amazonaws.com/lib/img/apple-touch-icon.png" />
    <link rel="shortcut icon" href="http://mindmup.s3.amazonaws.com/lib/img/favicon.ico" >
    <link href="/external/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    
    <script src="/external/jquery.hotkeys.js"></script>
    
    <script src="/external/google-code-prettify/prettify.js"></script>
    <link href="/css/bindex.css" rel="stylesheet">
    <script src="/js/bootstrap-wysiwyg.js"></script>    
</head>
<body>
<%include nav.ejs %>     
<div class="container">
  <div class="row">
  <% if(data){ %>
  <input id="title" type="text" style="height: 40px; width: 650px" placeholder="标题" maxlength="20" required
    value="<%= data.title %>" >
  <% }else{ %>
    <input id="title" type="text" style="height: 40px; width: 650px" placeholder="标题" maxlength="20" required>
  <% } %> 
  </div>
  <div class="row">
    <% if(data) { %>
      <input id="name" type="text" style="height: 40px; width: 650px" placeholder="产品名称" maxlength="20" 
      value="<%= data.name %>"  required>
    <% }else{ %>
      <input id="name" type="text" style="height: 40px; width: 650px" placeholder="产品名称" maxlength="20" required>
    <% } %>
  </div>
  <div class="row">
    <% if(data) { %>
      <input id="consume" type="number" placeholder="所需件数" required style="height: 40px; width: 150px" 
      value="<%= data.consume%>">
    <% }else{ %>
      <input id="consume" type="number" placeholder="所需件数" required style="height: 40px; width: 150px">
    <% } %>
  </div>
  <div class="row" id="upimg">
      <div class="col-md-2">
        <input type="file" style="display:none" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg">
        <% if(data) { %>
          <img src="<%= data.img_url %>" alt="大图" width="120">
        <% }else{ %>
          <img src="/images/add_image.png" alt="大图" width="120">
        <% } %>
      </div>
      <div class="col-md-2">
        <input type="file" style="display:none" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg">      
        <% if(data) { %>
          <img src="<%= data.icon_url %>" alt="大图" width="100">
        <% }else{ %>
          <img src="/images/add_image.png" alt="大图" width="100">
        <% } %>
      </div>
  </div>
    <script type="text/javascript">
      $('#upimg img').on('click', function() {
        if (!(window.FileReader && window.File && window.FileList && window.Blob)) {
            show.innerHTML = '您的浏览器不支持fileReader';
            upimg.setAttribute('disabled', 'disabled');
            return false;
        }        
        $(this).prev().click(); 
      });
      $('#upimg input').on('change', function() {
        var files = this.files;
        var img = $(this).next();

        if (files.length) {
          //图片处理
          var loader = $.Deferred();
          var file = files[0];
          var reader = new FileReader();
          if (!/image\/\w+/.test(file.type)) {
              show.innerHTML = "请确保文件为图像类型";
              return false;
          }
          // onload是异步操作
          reader.onload = function(e) {
            $.ajax({
              url: '/base64',
              method: 'post',
              data: {img: e.target.result}
            }).done(function(msg) {              
              img.attr('src', msg.url);
            });            
          }
          reader.readAsDataURL(file);
        }        
      });    
    </script>  
  <div class="row">
    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
          <ul class="dropdown-menu">
          </ul>
        </div>
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a data-edit="fontSize 5"><font size="5">大号</font></a></li>
          <li><a data-edit="fontSize 3"><font size="3">中号</font></a></li>
          <li><a data-edit="fontSize 1"><font size="1">小号</font></a></li>
          </ul>
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="bold" title="加粗 (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
        <a class="btn" data-edit="italic" title="斜体 (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
        <a class="btn" data-edit="strikethrough" title="删除线"><i class="icon-strikethrough"></i></a>
        <a class="btn" data-edit="underline" title="下划线 (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="insertunorderedlist" title="圆点列表"><i class="icon-list-ul"></i></a>
        <a class="btn" data-edit="insertorderedlist" title="数字列表"><i class="icon-list-ol"></i></a>
        <a class="btn" data-edit="outdent" title="左缩进 (Shift+Tab)"><i class="icon-indent-left"></i></a>
        <a class="btn" data-edit="indent" title="右缩进 (Tab)"><i class="icon-indent-right"></i></a>
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="justifyleft" title="左对齐 (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
        <a class="btn" data-edit="justifycenter" title="居中 (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
        <a class="btn" data-edit="justifyright" title="右对齐 (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
        <a class="btn" data-edit="justifyfull" title="垂直对齐 (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
      </div>
      <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" title="超链接"><i class="icon-link"></i></a>
        <div class="dropdown-menu input-append">
          <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
          <button class="btn" type="button">添加</button>
        </div>
        <a class="btn" data-edit="unlink" title="删除超链接"><i class="icon-cut"></i></a>

      </div>
      
      <div class="btn-group">
        <a class="btn" title="插入图片（拖拽图片）" id="pictureBtn"><i class="icon-picture"></i></a>
        <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="undo" title="后退一步 (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
        <a class="btn" data-edit="redo" title="前进一步 (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
      </div>
      <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">
    </div>
    <div id="editor" >
      <% if(data){ %>
        <%- data.centent %>
      <% } %>        
      </div>
  </div>
<% if(data){ %>
<a class="btn" id="sub">修改</a>
<a class="pull-right btn btn-danger" id="del">删除</a>
<% }else{ %>
<a class="btn" id="add">添加</a>  
<% } %> 
<script>
  $(function(){
    function initToolbarBootstrapBindings() {
      var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier', 
            'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
            'Times New Roman', 'Verdana'],
            fontTarget = $('[title=Font]').siblings('.dropdown-menu');
      $.each(fonts, function (idx, fontName) {
          fontTarget.append($('<li><a data-edit="fontName ' + fontName +'" style="font-family:\''+ fontName +'\'">'+fontName + '</a></li>'));
      });
      $('a[title]').tooltip({container:'body'});
      $('.dropdown-menu input').click(function() {return false;})
        .change(function () {$(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');})
        .keydown('esc', function () {this.value='';$(this).change();});

      $('[data-role=magic-overlay]').each(function () { 
        var overlay = $(this), target = $(overlay.data('target')); 
        overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
      });
      $('#voiceBtn').hide();
      // if ("onwebkitspeechchange"  in document.createElement("input")) {
      //   var editorOffset = $('#editor').offset();
      //   $('#voiceBtn').css('position','absolute').offset({top: editorOffset.top, left: editorOffset.left+$('#editor').innerWidth()-35});
      // } else {
      //   $('#voiceBtn').hide();
      // }
    };
    initToolbarBootstrapBindings();  
    $('#editor').wysiwyg();
    window.prettyPrint && prettyPrint();

<% if(data){ %>        
    $('#sub').on('click', function() {
      var centent = $.trim($('#editor').html());
      var title = $.trim($('#title').val()); 
      var img_url = $.trim($('#upimg').find('img').eq(0).attr('src'));//大图
      var icon_url = $.trim($('#upimg').find('img').eq(1).attr('src'));//小图
      var consume = Math.abs($('#consume').val());
      var name = $.trim($('#name').val());
      $.ajax({
        url: '/admin/gift/<%= data.id %>',
        type: 'post',
        data: {
          title: title,
          name,
          centent: centent,
          img_url: img_url,
          icon_url: icon_url,
          consume: consume
        }
      }).done(function(msg) {
          window.location.href = '/admin/gift'
      }).fail(function() {
        alert('网络繁忙');
      });
    });
    $('#del').on('click', function() {
      var myname=confirm("确定删除？");
      if(myname){
        $.ajax({
          url: '/admin/gift/<%= data.id %>',
          type: 'delete'
        }).done(function(msg) {
          window.location.href = '/admin/gift'
        });
      }else{
        
      }
    });
<% }else{ %>
  $('#add').on('click', function() {
    var centent = $.trim($('#editor').html());
    var title = $.trim($('#title').val()); 
    var img_url = $.trim($('#upimg').find('img').eq(0).attr('src'));//大图
    var icon_url = $.trim($('#upimg').find('img').eq(1).attr('src'));//小图
    var consume = Math.abs($('#consume').val());
    var name = $.trim($('#name').val());
    if(centent && title && img_url && icon_url && consume){
      $.ajax({
        url: '/admin/gift/create',
        type: 'put',
        data: {
          title: title,
          name,
          centent: centent,
          img_url: img_url,
          icon_url: icon_url,
          consume: consume
        }
      }).done(function() {
        window.location.href = '/admin/gift'
      }).fail(function() {
        alert('网络繁忙');
      });

    }else if(!title){
      $('#title').focus();
      return false;
    }else if(!consume){
      $('#consume').focus();
      return false;
    }
  });
<% } %> 
  });
</script>

</body>    
</html>