<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <title><%= data.title %>-礼品兑换</title>
    <link rel="stylesheet" type="text/css" href="//static2.flowerplus.cn/Static/css/m.css">
    <link rel="stylesheet" type="text/css" href="//static2.flowerplus.cn/Static/css/m_web.css">
    <link rel="stylesheet" type="text/css" href="//static2.flowerplus.cn/Static/css/code.css?_t=20170502">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>
<body ontouchstart>
    <div class="page">
        <div class="page">
            <div class="yqm-conout" style="padding-top: 0;">
                <p class="tit"><%= data.title %>(<%= data.specifications %>)</p>
                <div class="Img">
                  <span style="display: inline">
                    <img src="<%= data.img_url %>" style="border: 0 none">
                  </span>
                </div>
                <ul class="yqm-des">
                    <li class="top"><span>活动说明</span></li>
                    <%- data.centent %>
                    <li class="top"><span>我的推广件数:<%= data.myConsume %></span></li>
                </ul>
                <% if(data.myConsume>=data.consume) { %>

            <div id=openAddress class="order-address" 
                style="border-image: url('/images/addr.png') 10 40 round; padding: 15px 15px 15px 15px;">
                <address>
                    <span class="pull-right glyphicon glyphicon-menu-right" aria-hidden="true" style="line-height: 2;"></span>
                    <p><label id="name"></label><label id="phone"></label></p>
                    <p id="address"></p>
                </address>  
            </div>

                <div class="weui-cells">
                      <a id="add" href="javascript:;" class="weui-btn weui-btn_warn">确认</a>
                </div>                

                <% }else{ %>
                  <a href="javascript:code();"  class="btn" >需要推广<%= data.consume %>件数</a>
                <% } %>
            </div>
        </div>
    </div>
    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/swiper.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>
    <script type="text/javascript">
function code() {
  $.confirm("您的件数不足,是否获取更多件数?","件数不足", function() {
    window.location.href='/users/code'; 
  }, function() {
    
  });
}
    </script>

<% if(data.myConsume>=data.consume) { %>
<script>
    $('.weui-cell__ft').hide();
    function Errel(el) {
        el.next().show();
        el.prev().addClass('weui-cell_warn');
        el.find('input').focus();
        $('#add').addClass('weui-btn_disabled');
    }
    function el(el) {
        el.next().hide();
        el.prev().removeClass('weui-cell_warn');
        $('#add').removeClass('weui-btn_disabled');
    }
    $('#add').on('click', function() {
        $.confirm('该礼物需要<%= data.consume %>件数，是否继续?','订单确认', function() {

        if($(this).hasClass('weui-btn_disabled')){
            return false;
        }else{
            var name = $.trim($('#name input').val());
            var phone = $.trim($('#phone input').val());
            var city = $.trim($('#city input').val());
            var address = $.trim($('#address input').val());
            if(!name){
                Errel($('#name')); 
                return false;
            }else if(!phone){
                Errel($('#phone'));
                return false;
            }else if(!city){
                Errel($('#city'));
                return false;
            }else if(!address){
                Errel($('#address'));
                return false;
            }
            address = city + address
            $.ajax({
                url: '/admin/order',
                type: 'post',
                data: {
                    openid: '<%= openid %>',
                    name: name,
                    address: address,
                    phone: phone,
                    product: '<%= data.name %>',
                    total: '1件',
                    specifications: '<%= data.specifications %>',
                    img_url: '<%= data.icon_url %>',
                    title: '<%= data.title %>',
                    url: '/gift/<%= data.id %>',
                    pay_money: 0,
                    total_money: 0,
                    derate_money: 0,
                    out_trade_no: '<%= out_trade_no %>',
                    status: 2
                }
            }).done(function(msg){
                $.toast("兑换成功", function() {
                    location.replace('/user/my/order');                
                });
            }).fail(function() {
                $.toast("网络超时", "cancel");
            });
        }//if end()
        }, function() {

        });

    });
    $('.weui-cell__bd').on('change', 'input', function() {
        el($(this).parent());
    });
    $("#city input").cityPicker({
        title: "请选择收货地址"
    });
    var url = encodeURIComponent(location.href.split('#')[0])
    alert(url);
    $.ajax({
        url: '/wx/sdk',
        type: 'get',
        data:{
            url: url
        }
    }).done(function(msg) {
        wx.config({
            debug: true,
            appId: msg.appid,
            timestamp: msg.timestamp,
            nonceStr: msg.nonceStr,
            signature: msg.signature,
            jsApiList: ['openAddress']

        });//wx/config end    
        wx.ready(function() {
            $('#openAddress').on('click', function() {
                wx.openAddress({
                    success: function(res) {
                        var name = $('#name').html('');
                        var phone = $('#phone').html('');
                        var address = $('#address').html('');

                        $('#name').html(res.userName);
                        $('#phone').html(res.telNumber);
                        $('#address').html(res.provinceName+res.cityName+res.countryName+res.detailInfo);

                    },
                    fail: function(res) {
                        alert('网络繁忙，请稍后再试！');
                    }   
                }); //  wx/openAddress end              
            });//on click end
        });//ready end
    });//ajax end
</script>    
<% } %>
</body>
</html>