<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <title><%= data.title %>-礼品兑换</title>
    <link rel="stylesheet" type="text/css" href="//static2.flowerplus.cn/Static/css/m.css">
    <link rel="stylesheet" type="text/css" href="//static2.flowerplus.cn/Static/css/m_web.css">
    <link rel="stylesheet" type="text/css" href="//static2.flowerplus.cn/Static/css/code.css?_t=20170502">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>
<body>
    
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">礼品兑换-<%= data.name %></h4>
      </div>
      <div class="modal-body">
<form>
  <div class="form-group">
    <button id="openAddress">添加收获地址</button> 
  </div>
  <button type="submit" class="btn btn-default" style="display: none;">Submit</button>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 100px">关闭</button>
        <button type="button" class="btn btn-primary" style="width: 100px">兑换</button>
      </div>
    </div>
  </div>
</div>
    <div class="page">
        <div class="page">
            <div class="yqm-conout">
                <p class="tit"><%= data.title %></p>
                <div class="Img">
                  <span>
                    <img onclick="previewimg(this)" src="<%= data.img_url %>" style="border: 0 none">
                  </span>
                </div>
                <ul class="yqm-des">
                    <li class="top"><span>活动说明</span></li>
                    <%- data.centent %>
                </ul>
                <button type="button" id="myButton" data-loading-text="兑换中..." class="btn" autocomplete="off">
                  兑换
                </button>
                <script>
                $('#myButton').on('click', function() {
                    var $btn = $(this).button('loading')
                    $('#myModal').modal('show');
                    // business logic...
                    $btn.button('reset')
                })
                </script>
            </div>
        </div>
    </div>
    <script>
      wx.config({
        debug: true,
        appId: '<%= config.appid %>',
        timestamp: '<%= config.timestamp %>',
        nonceStr: '<%= config.nonceStr %>',
        signature: '<%= config.signature %>',
        jsApiList: ['openAddress']

      });    
      wx.ready(function() {
        document.querySelector('#openAddress').onclick = function() {
          wx.openAddress({
            success: function(res) {
              alert(res);
              // var name = $('#name').html('');
              // var phone = $('#phone').html('');
              // var address = $('#address').html('');

              // $('#name').html(res.userName);
              // $('#phone').html(res.telNumber);
              // $('#address').html(res.provinceName+res.cityName+res.countryName+res.detailInfo);

            },
            fail: function(res) {
              alert(res,'res');
              alert('网络繁忙，请稍后再试！');
            } 
          });                 
        }
      });  
    </script>
</body>
</html>