<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <title>已下单的人</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//static2.flowerplus.cn/Static/css/m.css">
    <link rel="stylesheet" type="text/css" href="//static2.flowerplus.cn/Static/css/m_web.css">
    <link rel="stylesheet" type="text/css" href="//static2.flowerplus.cn/Static/css/code.css?_t=20170502">
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <style type="text/css">
    body {
        background-color: #fff;
    }

    * {
        -webkit-tap-highlight-color: transparent;
    }
    a{
        color: #000;
    }
    </style>
</head>

<body ontouchstart="">
    <div class="weui-navbar" style="position: static;">
        <div class="weui-navbar__item weui_bar__item_on">
            <a href="/user/my/code">我要推广</a>
        </div>
        <div class="weui-navbar__item">
            <a href="/user/partner">已下单的人</a>
        </div>
        <div class="weui-navbar__item">
            <a href="/user/gift">礼物兑换</a>
        </div>
    </div>
    <div id="customer">
    <% if(data.length >0) { %>
        <p style=" display: block;background-color: #f7f5f5" style="margin-top: 10px;">
            总人数<strong><%= data2.count %></strong>
            总件数<strong><%= data2.order_count %></strong>
            可用件数<strong><%= data2.consume %></strong>
            已使用件数<strong><%= (data2.total_consume-data2.consume) %></strong></p>
    <% } %>
        <ul>
            <% if(data.length ==0){ %>
                <li>
                    <div style="height: 60px; background: #fff ;">
                        <img src="/images/logo.png" class="img-circle" style="width: 60px; height: 60px; margin-left: 30px;">
                        <label style="padding-left: 30px; width: 52%;">还没有人下过单～</label>
                    </div>
                </li>
            <% }else{ %>
                <% for(var i = 0 ;i<data.length; i++) { %>
                    <li>
                        <div style="background: #fff;">
                            <img src="<%= data[i].headimgurl %>" class="img-circle" style="width:11%;">
                            <label style="width: 60%;">
                                <%= data[i].nick %>
                            </label>
                            <label style="width: 19%;">
                                (<%= data[i].order_count %>)件数</label>
                        </div>
                    </li>
                <% } %>
            <% } %>
        </ul>
    </div>
</body>

</html>