<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>基本配置</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<%include nav.ejs %>
<form class="form-horizontal" action="/admin/setconfig" method="post">
  <div class="form-group">
    <label for="appid" class="col-sm-2 control-label">微信Id</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="appid" value="<%= config.appid %>">
    </div>
  </div>
  <div class="form-group">
    <label for="appSecret" class="col-sm-2 control-label">微信Secret</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="appSecret" value="<%= config.appSecret %>">
    </div>
  </div>
  <div class="form-group">
    <label for="token" class="col-sm-2 control-label">微信token</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="token" value="<%= config.token %>">
    </div>
  </div>
  <div class="form-group">
    <label for="store_mchid" class="col-sm-2 control-label">商户Id</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="store_mchid" value="<%= config.store_mchid %>">
    </div>
  </div>
  <div class="form-group">
    <label for="store_key" class="col-sm-2 control-label">商户key</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="store_key" value="<%= config.store_key %>">
    </div>
  </div>
  <div class="form-group">
    <label for="encodingAESKey" class="col-sm-2 control-label">消息加密</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="encodingAESKey" value="<%= config.encodingAESKey %>">
    </div>
  </div>
  <div class="form-group">
    <label for="message_text" class="col-sm-2 control-label">消息回复内容</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="message_text" value="<%= config.message_text %>">
    </div>
  </div>
  <div class="form-group">
    <label for="message_default" class="col-sm-2 control-label">消息默认回复内容</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="message_default" value="<%= config.message_default %>">
    </div>
  </div>
  <div class="form-group">
    <label for="sms_accessKeyId" class="col-sm-2 control-label">短信accessKeyId</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="sms_accessKeyId" value="<%= config.sms_accessKeyId %>">
    </div>
  </div>
  <div class="form-group">
    <label for="sms_secretAccessKey" class="col-sm-2 control-label">短信secretAccessKey</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="sms_secretAccessKey" value="<%= config.sms_secretAccessKey %>">
    </div>
  </div>
  <div class="form-group">
    <label for="sms_TemplateCode" class="col-sm-2 control-label">短信模版</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="sms_TemplateCode" value="<%= config.sms_TemplateCode %>">
    </div>
  </div>
  <div class="form-group">
    <label for="sms_SignName" class="col-sm-2 control-label">短信签名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="sms_SignName" value="<%= config.sms_SignName %>">
    </div>
  </div>
  <div class="form-group">
    <label for="server_host" class="col-sm-2 control-label">网址</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="server_host" value="<%= config.server_host %>">
    </div>
  </div>
  <div class="form-group">
    <label for="original_money" class="col-sm-2 control-label">产品原价(分)</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="original_money" value="<%= config.original_money %>">
    </div>
  </div>
    <div class="form-group">
    <label for="current_money" class="col-sm-2 control-label">产品现价(分)</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="current_money" value="<%= config.current_money %>">
    </div>
  </div>
  <div class="form-group">
    <label for="derate_money" class="col-sm-2 control-label">产品减免价格(分)</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="derate_money" value="<%= config.derate_money %>">
    </div>
  </div>  

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="radio">
        <label>
          <input type="radio" value="true">我要修改
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">修改</button>
    </div>
  </div>
</form>
<script>
$(function() {
  $("form").submit(function(e){
    var $true = $('input:checked').val();
    if($true) {
      return true;
    }else{
      return false;
    }
  });
});

</script>

</body>
</html>