<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>订单</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<%include nav.ejs %>
<table id="table" class="table table-hover">
  <caption>订单</caption>
  <thead>
    <tr>
      <th>姓名</th>
      <th>地址</th>
      <th>电话</th>
      <th>产品</th>
      <th>数量</th>
      <th>规格</th>
      <th>金额</th>
      <th>订单号</th>
      <th>下单时间</th>
      <th>订单状态</th>
      <th>物流公司</th>
      <th>物流号</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% if(data) { %>
    <% for(var i =0; i<data.length; i++){ %>  
    <tr>
      <td><%= data[i].name %></td>
      <td style="width: 100px;"><%= data[i].address %></td>
      <td><%= data[i].phone %></td>
      <td style="width: 100px;"><%= data[i].product %></td>
      <td style="width: 100px;"><%= data[i].total %></td>      
      <td><%= data[i].specifications %></td>
      <td><%= data[i].pay_money %></td>
      <td><%= data[i].out_trade_no %></td>
      <td><%= data[i].create_time %></td>
      <% if(data[i].status == 2) { %>
        <td>待发货</td>
      <% }else if(data[i].status == 3){ %>
        <td>已发货</td>
      <% }else if(data[i].status == 5){ %>
        <td>已完成</td>
      <% } %>
    
      <% if(data[i].delivery_company == 'shentong'){ %>
        <td>申通快递</td>
      <% }else if(data[i].delivery_company == 'huitongkuaidi'){ %> 
        <td>百世汇通</td>
      <% }else{ %>
        <td><%= data[i].delivery_company %></td>
      <% } %>
      <td style="width: 100px;"><%= data[i].delivery_track_no %></td>
    </tr>
    <% } %>
  <% } %>
  </tbody>
</table>

<script type="text/javascript">
$(function() {
    $("table").on("click","tr",function(e){
      var arr = []
      $(this).children().map(function(el){
          arr.push($(this)[0].innerText)
      })
      console.log(arr);
      var name = arr[0];
      var address = arr[1];
      var phone = arr[2];
      var out_trade_no = arr[7];
      $('#current_name').val(name);
      $('#current_phone').val(phone);
      $('#current_address').val(address);
      $('#current_out_trade_no').val(out_trade_no);
      $('#myModal').modal('show');
    });
});
</script>

<!-- <button id="modal" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">发货</button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">发货</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="current_name">名字</label>
          <input type="text" class="form-control" name="current_name" id="current_name" readonly="true">
        </div> 
        <div class="form-group">
          <label for="current_phone">电话</label>
          <input type="text" class="form-control" name="current_phone" id="current_phone" readonly="true">
        </div>         
        <div class="form-group">
          <label for="current_address">地址</label>
          <input type="text" class="form-control" name="current_address" id="current_address" readonly="true">
        </div> 
        <div class="form-group">
          <label for="current_out_trade_no">订单号</label>
          <input type="text" class="form-control" name="current_out_trade_no" id="current_out_trade_no" readonly="true"> 
        </div> 
        <form>
          <div class="form-group">
            <label for="out_trade_no">确认订单号</label>
            <input type="text" class="form-control" name="out_trade_no" id="out_trade_no">
          </div>          
          <div class="form-group">
            <label for="delivery_company">物流公司</label>
            <select name="delivery_company" id="delivery_company" class="form-control">
              <option value="shentong">申通</option>
              <option value="huitongkuaidi">百世汇通</option>
            </select>
          </div>
          <div class="form-group">
            <label for="delivery_track_no">物流号</label>
            <input type="text" class="form-control"  name="delivery_track_no" id="delivery_track_no">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="sub">确定</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#sub').click(function() {
    var out_trade_no = $('#out_trade_no').val();
    var delivery_company = $('#delivery_company').val();
    var delivery_track_no = $('#delivery_track_no').val();
    var current_out_trade_no = $('#current_out_trade_no').val();
    if(current_out_trade_no === out_trade_no){
      $('.close').click();
      $.ajax({
        url: '/admin/order/deliver',
        type: 'post',
        data: {
          out_trade_no: out_trade_no,
          delivery_company: delivery_company,
          delivery_track_no: delivery_track_no
        }
      }).done(function(msg) {
        if(msg.err){
          alert(msg.err);        
        }else{
          window.location.reload();
        }
      }).fail(function() {
        alert('网络繁忙，请稍后再试！');
      });
    }else{
      alert('订单号不一致');
      return false;
    }
  });
</script>
</body>
</html>