<!DOCTYPE html>
<html>
<head>
	<title>测试支付</title>
	<meta charset="utf-8">
</head>
<body>
<div>
	<ul>
		<li>基础接口</li>
	</ul>
</div>
<div>
	<h1>判断当前用户客户端是否支持js接口</h1>
	<button id="checkjsAPI">checkjsAPI</button>

	<h1>立即支付0.1元</h1>
	<button id="chooseWXPay">chooseWXPay</button>
</div>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
	wx.config({
		debug: true,
		appId: '<%= config.appid %>',
		timestamp: '<%= config.timestamp %>',
		nonceStr: '<%= config.nonceStr %>',
		signature: '<%= config.signature %>',
		jsApiList: ['chooseWXPay']

	});
	wx.ready(function() {
		document.querySelector('#checkjsAPI').onclick = function() {
			wx.checkJsApi({
				jsApiList: ['chooseWXPay'],
				success: function(res) {
					console.log(typeof res);
					console.log(res);
					console.log(res.checkResult);
				}
			});
		};

		document.querySelector('#chooseWXPay').onclick = function() {
			wx.chooseWXPay({
				appId: '<%= data.appid %>',
				timeStamp: '<%= data.timestamp %>',
				nonceStr: '<%= data.nonceStr %>',
				package: '<%= data.package %>',
				signType: '<%= data.signType %>',
				paySign: '<%= data.paySign %>',
				success: function(res) {
					console.log(typeof res);
					console.log(res);
				}
			});
		};
	});
</script>
</body>
</html>