<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>订单</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/js/jquery-1.9.1.js"></script>
    <meta charset="UTF-8">
</head>
<body>
   <div class="main">
<% if(data.length === 0){ %>
	<h1>空空如也</h1>
<% } %>

<% for(var i = 0; i<data.length; i++) { %>
		<div class="order">
			<div class="order-title">
				<span>交易完成</span>
				<label>下单时间：<%= data[i].create_time %></label>
			</div>

			<div class="order-item">
				<div class="order-center">
					<a href="javascript:" class="order-shoplist">
						<img src="/images/26659155088350080_03.jpg" alt="" />
						<div class="order-shoplist_right">
							<div class="shoplist_title">
								<span><%= data[i].product %></span>
								<label>￥<%= data[i].pay_money %></label>
							</div>
							<span class="shoplist_ms">
							<p><%= data[i].name %><%= data[i].phone %></p>
							<p><%= data[i].address %></p>
							</span>
						</div>
					</a>
					<div class="order-number">
						<span>订单号：</span>
						<label><%= data[i].out_trade_no %></label>
					</div>
				</div>
			</div>	

		</div>
<% } %>

	</div>
</body>
</html>
