<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>订单</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.js"></script>
    <script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body>

<% if (data.length != 0 ){ %>
	
	<div class="control-group">
		<label class="control-label">搜索:</label>
		<input type="text" value="2017-09-19" id="datetimepicker">		
	</div>

	<script>

		$(function() {
		$('#datetimepicker').datetimepicker({ 
		　minView: "month", //选择日期后，不会再跳转去选择时分秒 
		　format: "yyyy-mm-dd", //选择日期后，文本框显示的日期格式 
		　language: 'zh-CN', //汉化 
		　autoclose:true //选择日期后自动关闭 
		});
		//监听搜索
		$('#datetimepicker').on('change', function() {
			var date = $(this).val();
			let data = {
				date: date,
				openid: '<%= data[0].openid %>'
			};
			$.ajax({
				url: '/users/my/order/query',
				method: 'post',
				data: data
			}).done(function(msg) {
				var kuaidi100 = '';
				$('.main').html('');
				msg.forEach(function(data) {
					switch(data.status) {
						case 0:
						data.status = '交易取消';
						break;
						case 2:
						data.status = '待发货';
						kuaidi100 = '<a class="btn btn-xs" id="refund" val="'+data.out_trade_no+'" money="'+data.pay_money+'"'+
						'openid="'+ data.openid+'">申请退款</a>'
						break;
						case 3:
						data.status = '已发货';
						kuaidi100 = '<a class="btn btn-xs" id="kuaidi" href="https://m.kuaidi100.com/index_all.html?type='+
							data.delivery_company+'&postid='+data.delivery_track_no+'">查询物流</a>';
						break;
						case 5:
						data.status = '交易完成';
						break;
					}
					$('.main').append('<div class="order"><div class="order-title"><span>'+data.status+'</span><label>'+
						data.create_time+'</label></div><div class="order-item"><div class="order-center">' + 
						'<a href="javascript:" class="order-shoplist"><img src="/images/26659155088350080_03.jpg" alt="">'+
						 '<div class="order-shoplist_right"><div class="shoplist_title"><span>'+data.product+'</span>'+
						 '<label>￥'+data.pay_money+'</label></div><span class="shoplist_ms"><p>'+data.name+data.phone+'</p>'+
						 '<p>'+data.address+'</p></span></div></a><div class="order-number"><span>订单号：</span><span>'+
						 data.out_trade_no+'</span>'+kuaidi100+'</div></div></div></div>');
				});
			});
		});
		});
	</script>
<% }%>	
<div class="main">
<% if(data.length === 0){ %>
	<div class="text-center">
	<p >空空如也~T.T</p>
	<p>快点去下单吧</p>
	<a href="/product/100001" class="btn btn-info btn-sm active">去逛逛</a>
	</div>
<% } %>

<% for(var i = 0; i<data.length; i++) { %>
		<div class="order">
			<div class="order-title">
				<% if(data[i].status == 0){ %>
				<span>交易取消</span>
				<% } %>				
				<% if(data[i].status == 2){ %>
				<span>待发货</span>
				<% } %>
				<% if(data[i].status == 3){ %>
				<span>已发货</span>
				<% } %>
				<% if(data[i].status == 5){ %>
				<span>交易完成</span>
				<% } %>
				<label><%= data[i].create_time %></label>
			</div>

			<div class="order-item">
				<div class="order-center">
					<a href="javascript:" class="order-shoplist">
						<img src="/images/26659155088350080_03.jpg" alt="">
						<div class="order-shoplist_right">
							<div class="shoplist_title">
								<span><%= data[i].product %></span>
								<label>￥<%= data[i].pay_money %></label>
							</div>
							<span class="shoplist_ms">
							<p><%= data[i].name %><%= data[i].phone %></p>
							<p><%= data[i].address %></p>
							</span>
						</div>
					</a>
					<div class="order-number">
						<span>订单号：</span>
						<span><%= data[i].out_trade_no %></span>
					<% if(data[i].status == 3 ) { %>
 						<a class="btn btn-xs" id="kuaidi" 
 						href="https://m.kuaidi100.com/index_all.html?type=<%= data[i].delivery_company %>&postid=<%= data[i].delivery_track_no %>">
 						查询物流</a>
  				<% } %>
					<% if(data[i].status == 2) { %>
					<a class="btn btn-xs" id="refund" val="<%= data[i].out_trade_no %>" money="<%= data[i].pay_money%>"
						openid="<%= data[i].openid %>">我要退款</a>
					<% } %>
					</div>
				</div>
			</div>	

		</div>
<% } %>
						<script>
							var href = $('#kuaidi').attr('href');
							$('#kuaidi').on('click', function(event) {
								window.location=href;
							});
							$('#refund').on('click', function() {
									var out_trade_no = $(this).attr('val');									
									var total_fee = $(this).attr('money');									
									var openid = $(this).attr('openid');
									
								let data = {
									out_trade_no: out_trade_no,
									total_fee: total_fee,
								};
								var t = $(this);
								t.hide()
								$.ajax({
									url: '/my/refund',
									data: data,
									method: 'post'
								}).done(function(msg) {									
									if(msg.msg === 'SUCCESS'){
										alert('申请成功！');
										window.location.href = window.location.href;
									}else{
										t.show();
										alert('申请失败，请主动联系客服申请!错误代码: '+msg.code);
									}
								});
							});
						</script>


</div>

</body>
</html>
