<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>订单</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/js/jquery-1.9.1.js"></script>
    <meta charset="UTF-8">
</head>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
	wx.config({
		debug: true,
		appId: '<%= config.appid %>',
		timeStamp: '<%= config.timestamp %>',
		nonceStr: '<%= config.nonceStr %>',
		signature: '<%= config.signature %>',
		jsApiList: ['chooseWXPay']

	});
	wx.ready(function() {
		document.querySelector('#chooseWXPay').onclick = function() {
			wx.chooseWXPay({
				timestamp: '<%= data.timeStamp %>',
				nonceStr: '<%= data.nonceStr %>',
				package: '<%= data.package %>',
				signType: '<%= data.signType %>',
				paySign: '<%= data.paySign %>',
				success: function(res) {
					alert('支付成功');
				},
				fail: function(res) {
					alert('支付失败');
				}
			});
		};
	});	
</script>
<body>
    	<div class="main">
		<div class="order">
		<div>设置收货地址</div>
		<form>
      <label for="name" required="required">昵　称</label>
      <input id="name" type="text"/>
      <label for="phone" required="required">电子邮件</label>
      <input id="phone" type="text"/>
      <label for="address">地址</label>
      <input id="address" type="text" required="required"/>
      <button type="button">完成</button>			
		</form>
			<div class="order-address">
				<p class="userinfo">赵美女<label>13811908888</label></p>
				<span class="useraddress">北京市北京市昌平区龙域东一路融泽嘉园东20号院18号楼20单元8001</span>
			</div>

			<div class="order-item">
				<div class="order-top">订单信息</div>
				<div class="order-center">
					<a href="javascript:" class="order-shoplist">
						<img src="/images/26659155088350080_03.jpg" alt="" />
						<div class="order-shoplist_right">
							<div class="shoplist_title">
								<span>繁华混合鲜花月套餐</span>
								<label>￥169.00</label>
							</div>
							<span class="shoplist_ms">
								<i>订几个月：1个月</i>
								<i>送达日期：周六送达</i>
							</span>
						</div>
					</a>
					<div class="order-number">
						<span>订单号：</span>
						<label>W121231564541321</label>
					</div>
				</div>
			</div>
			<div class="order-item">
				<div class="order-top">订单费用</div>
				<div class="order-center">
					<ul>
						<li>
							<span>商品总额：</span>
							<label>￥169.00</label>
						</li>
						<li>
							<span>运费：</span>
							<label>￥0.00</label>
						</li>
						<li>
							<span>付款金额：</span>
							<label style="color: #ff4141;">￥169.00</label>
						</li>
					</ul>
				</div>
			</div>
			<div class="sum-btn">
				<div class="btnlist">
					<a href="javascript:" id="chooseWXPay">再次购买</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
