<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>订单</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/js/jquery-1.9.1.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<style type="text/css">
.modal{
	position: fixed;
	bottom: 0;
}
.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #F73F65;
	z-index: 9999;
}
.footer a{
	display: block;
	color: #FFF;
}			
		</style>
</head>
<body>

<script type="text/javascript">
	var arrId = [];

	wx.config({
		debug: false,
		appId: '<%= config.appid %>',
		timestamp: '<%= config.timestamp %>',
		nonceStr: '<%= config.nonceStr %>',
		signature: '<%= config.signature %>',
		jsApiList: ['chooseWXPay']

	});
	wx.ready(function() {
		document.querySelector('#openAddress').onclick = function() {
			wx.openAddress({
				success: function(res) {
					var name = $('#name').html('');
			  	var phone = $('#phone').html('');
			  	var address = $('#address').html('');

				  $('#name').html(res.userName);
				  $('#phone').html(res.telNumber);
				  $('#address').html(res.provinceName+res.cityName+res.countryName+res.detailInfo);

				},
				fail: function(res) {
					alert('网络繁忙，请稍后再试！');
				}	
			});	

		};
		$('#chooseWXPay').on('click',function(event) {
			// var $btn = $(this).button('loading')
			var name = $('#name').text();
		  var phone = $('#phone').text();
		  var address = $('#address').text();
		  if(name && phone && address){
				$.ajax({
					url: '/wx/pay',
					type: 'post',
					data: {
						openid: '<%= openid %>',
						store_name: $('#product').text(),
						total_fee: Number($('#total_fee').text())
					}
				}).done(function(msg) {
					wx.chooseWXPay({
						timestamp: msg.timeStamp,
						nonceStr: msg.nonceStr,
						package: msg.package,
						signType: msg.signType,
						paySign: msg.paySign,
						success: function(res) {
							
							var name = $('#name').text();
							var address = $('#address').text();
							var phone = $('#phone').text();
							var product = $('#product').text();
							var total = '<%= total %>件';
							var specifications = '<%= specifications %>';
							var pay_money = Number($('#total_fee').text());
							var out_trade_no = msg.out_trade_no;
							//var derate_money = Number($('#derate').text()) + Number($('#voucher_number').val());
							var derate_money = Number($('#derate').text());
							var total_money = Number($('#total').text());
							console.log();
							$.ajax({
								url: '/admin/order',
								type: 'post',
								data: {
									openid: '<%= openid %>',
									name: name,
									address: address,
									phone: phone,
									product: product,
									img_url: '<%= store.icon_url %>',
									title: '<%= store.title %>',
									url: '/product/<%= store.product_id %>',
									total: total,
									specifications: specifications,
									pay_money: pay_money,
									total_money: total_money,
									derate_money: derate_money,
									out_trade_no: out_trade_no,
									status: 2
								}
							}).done(function(msg){
								alert('支付成功');	
								location.replace('/user/my/order');
							});
						},
						fail: function(res) {
							alert('网络繁忙，请稍后再试！');
							// $btn.button('reset')
						}
					});//chooseWXPay end
					// $btn.button('reset')
				}).fail(function() {
					// $btn.button('reset')
				});
				
		  }else{
		  	alert('请输入收货地址');
		  	// $btn.button('reset')
		  }
		});

	});	
</script>

<div class="main">
		<div class="order">
			<div id=openAddress class="order-address" 
				style="border: 10px solid transparent;padding: 15px;border-image: url('/images/addr.png') 30 round;">
				<address>
 					<p><label id="name"></label><label id="phone"></label></p>
					<p id="address">点击获取地址</p>
				</address>	
			</div>


			<div class="order-item">
				<div class="order-top">订单信息</div>
				<div class="order-center">
					<a href="javascript:" class="order-shoplist">
						<img src="/images/chuangtie_xuanzhuan3.jpeg" alt="" />
						<div class="order-shoplist_right">
							<div class="shoplist_title">
								<span id="product">防雾霾窗帖</span>
								<label>¥<%= total_money %></label>
							</div>
							<span class="shoplist_ms">
								<i>数量：<%= total %>件</i>
								<i>规格:<%= specifications %></i>
							</span>
						</div>
					</a>
				</div>
			</div>
			<div class="order-item">
				<div class="order-top">订单费用</div>
				<div class="order-center">
					<ul>
						<li>
							<span>商品总额：</span>
							<label><span>￥</span><span id="total"><%= total_money %></span></label>
						</li>
						<li>
							<span>运费：</span>
							<label>￥0</label>
						</li>
						<li>
							<span>首单代金券减免:</span>
							<label><span>￥</span><span id="derate"><%= derate_money %></span></label>
						</li>
<!-- 						<li id="voucher">
							<span>代金券</span>
							<span class="pull-right glyphicon glyphicon-menu-right" aria-hidden="true" style="line-height: 2;"></span>
							<input id="voucher_number" type="text" style="visibility: hidden;">
						</li> -->			
						<li>
							<span>付款金额：</span>
							<label style="color: #ff4141;"><span>￥</span><span id="total_fee"><%= pay_money %></span></label>
						</li>
					</ul>
				</div>
			</div>
<!-- 			<div class="sum-btn">
				<button type="button" class="btn btn-danger btn-block active" 
				id="chooseWXPay" data-loading-text="请求中.." autocomplete="off">购买</button> 
			</div> -->
 <div class="footer"> <a id="chooseWXPay" href="javascript:" class="weui-btn weui-btn_primary">立刻购买</a> </div>			
		</div>
	</div>
<script src="/jqueryweui/lib/fastclick.js"></script>
<script>
//iOS 系统下默认的 click 事件会有300毫秒的延迟，这个延迟是iOS系统的特性而不是jQuery WeUI设定的，可以使用 fastclick 来消除这个延迟。
  $(function() {
    FastClick.attach(document.body);
  });
</script>
</body>
</html>
