<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>订单</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/js/jquery-1.9.1.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<style type="text/css">
			.modal{
				position: fixed;
				bottom: 0;
			}
		</style>
</head>
<body>

<!-- Modal -->
<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">选择代金券</h4>
        <p>最多可以选择4张</p>
        <strong  id="err" class="hide" style="color: red">
        	订单总额<span id="err_total"></span>元,首单减免<span id="err_derate"></span>元,
        	您最多使用<span id="err_a"></span>元代金券,至少支付<span id="err_fee"></span>元</strong>
      </div>
      <div class="modal-body">
<ul class="list-group" id="voucher-list">
</ul>     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save">确定</button>
      </div>
    </div>
  </div>
</div>	


<script type="text/javascript">
	var arrId = [];


 $(document).ready(function() {
		$.ajax({
			url: '/wx/user/voucher',
			type: 'get'
		}).done(function(result) {
			$('#voucher-list').html('');
			result.forEach(function(val) {
				$('#voucher-list').append('<li class="list-group-item">'+
					'<input ids="'+ val.id +
					'" type="checkbox" name="apk[]" value="'+Number(val.voucher_denomination /100)+'">'
					+ Number(val.voucher_denomination / 100)+'元'+val.voucher_type+'</li>');				
			});

			var a = 0;
			$('input[type=checkbox]').click(function() {
				$("input[name='apk[]']").attr('disabled', true);

				var total = parseInt($('#total').text());
				var derate = parseInt($('#derate').text());
				
				if(!$(this).is(':checked') ){//!选中
					a -= parseInt($(this).val());
					if(a<(total-derate)){
						$('#err').addClass('hide');				
					}			
				}	

				if($(this).is(':checked') ){//选中
					a += parseInt($(this).val());
					if(a>=(total-derate)){
						$('#err').removeClass('hide');
					}else{
						$('#err').addClass('hide');
					}
				}
				if(a>=(total-derate)){
					a -= parseInt($(this).val());
					$(this).removeAttr('checked');
					$('#err').removeClass('hide');	
				}

				var checked = $("input[name='apk[]']:checked");
				if(checked.length >= 4) {
					$("input[name='apk[]']:checked").attr('disabled', false);
				}else{
					$("input[name='apk[]']").attr('disabled', false);
				}
						$('#err_total').text(total);
						$('#err_derate').text(derate);
						$('#err_a').text(a);		
						$('#err_fee').text(total-derate-a);	
			});

		//ajax end
	$('.order-center li').eq(3).on('click', function() {	
			$('#myModal').modal('show');
		});
	});

 	$('#save').on('click', function( ){
 		var a = 0;
 			arrId = [];
 		$('input[name="apk[]"]:checked').each(function() {
 			a += Number($(this).val());
 			arrId.push($(this).attr('ids'));
 		});
 		$('.glyphicon-menu-right').remove();
 		$('#voucher label').remove();
 		$('#voucher').append('<label>¥'+ a +'</label>');
 		$('#voucher_number').val(a);
 		var total = $('#total').text();
 		var derate = $('#derate').text();
 		var fee  = total - derate - a ;
 		if(0>=fee) {
 			fee = 1;
 		}
 		$('#total_fee').text(fee);
 		$('#myModal').modal('hide');
 	});

 })

	wx.config({
		debug: false,
		appId: '<%= config.appid %>',
		timestamp: '<%= config.timestamp %>',
		nonceStr: '<%= config.nonceStr %>',
		signature: '<%= config.signature %>',
		jsApiList: ['chooseWXPay','openAddress']

	});
	wx.ready(function() {
		document.querySelector('#openAddress').onclick = function() {
			alert('asd');
			wx.openAddress({
				success: function(res) {
					var name = $('#name').html('');
			  	var phone = $('#phone').html('');
			  	var address = $('#address').html('');

				  $('#name').html(res.userName);
				  $('#phone').html(res.telNumber);
				  $('#address').html(res.provinceName+res.cityName+res.countryName+res.detailInfo);

				},
				fail: function(res) {
					alert('网络繁忙，请稍后再试！');
				}	
			});	

		};
		$('#chooseWXPay').on('click',function() {
			var $btn = $(this).button('loading')
			var name = $('#name').text();
		  var phone = $('#phone').text();
		  var address = $('#address').text();
		  if(name && phone && address){
				$.ajax({
					url: '/wx/pay',
					type: 'post',
					data: {
						openid: '<%= openid %>',
						store_name: $('#product').text(),
						total_fee: Number($('#total_fee').text())
					}
				}).done(function(msg) {
					wx.chooseWXPay({
						timestamp: msg.timeStamp,//'<%= data.timeStamp %>',
						nonceStr: msg.nonceStr,//'<%= data.nonceStr %>',
						package: msg.package,//'<%= data.package %>',
						signType: msg.signType,//'<%= data.signType %>',
						paySign: msg.paySign,//'<%= data.paySign %>',
						success: function(res) {
							
							var name = $('#name').text();
							var address = $('#address').text();
							var phone = $('#phone').text();
							var product = $('#product').text();
							var total = '<%= total %>件';
							var specifications = '<%= specifications %>';
							var pay_money = Number($('#total_fee').text());
							var out_trade_no = msg.out_trade_no;
							var derate_money = Number($('#derate').text()) + Number($('#voucher_number').val());
							var total_money = Number($('#total').text());
							$.ajax({
								url: '/admin/order',
								type: 'post',
								data: {
									openid: '<%= openid %>',
									name: name,
									address: address,
									phone: phone,
									product: product,
									total: total,
									specifications: specifications,
									pay_money: pay_money,
									total_money: total_money,
									derate_money: derate_money,
									out_trade_no: out_trade_no,
									status: 2,
									arr: arrId
								}
							}).done(function(msg){
								location.replace('/users/my/order');
							});
							alert('支付成功');
							// $('#order_openid').val('<%= openid %>');
							// $('#order_name').val(name);
							// $('#order_address').val(address);
							// $('#order_phone').val(phone);
							// $('#order_product').val(product);
							// $('#order_total').val(total);
							// $('#order_specifications').val(specifications);
							// $('#order_money').val(money);
							// $('#order_total_money').val(total_money);
							// $('#order_derate_money').val(derate_money);
							// $('#order_out_trade_no').val(out_trade_no);
							// $('#arr').val(arrId);
							// $('#sub').click();						
						},
						fail: function(res) {
							alert('网络繁忙，请稍后再试！');
							$btn.button('reset')
						}
					});//chooseWXPay end
					$btn.button('reset')
				}).fail(function() {
					$btn.button('reset')
				});
				
		  }else{
		  	alert('请输入收货地址');
		  	$btn.button('reset')
		  }
		});

	});	
</script>

<div class="main">
<!-- <button id="openAddress" class="">
	我的收货地址
</button> -->
 <div> <a id=openAddress href=javascript: class="btn btn-primary btn-sm">我的收货地址</a> </div>
		<div class="order">
			<div class="order-address">
				<address id="order-address">
 					<p><label id="name"></label><label id="phone"></label></p>
					<p id="address"></p>
				</address>	
			</div>


			<div class="order-item">
				<div class="order-top">订单信息</div>
				<div class="order-center">
					<a href="javascript:" class="order-shoplist">
						<img src="/images/chuangtie_xuanzhuan3.jpeg" alt="" />
						<div class="order-shoplist_right">
							<div class="shoplist_title">
								<span id="product">防雾霾窗帖</span>
								<label><%= total_money %></label>
							</div>
							<span class="shoplist_ms">
								<i>数量：<%= total %>件</i>
								<i>规格:<%= specifications %></i>
							</span>
						</div>
					</a>
					<div class="order-number">
						<span>订单号：</span>
						<label><%= data.out_trade_no %></label>
					</div>
				</div>
			</div>
			<div class="order-item">
				<div class="order-top">订单费用</div>
				<div class="order-center">
					<ul>
						<li>
							<span>商品总额：</span>
							<label><span>￥</span><span id="total"><%= total_money %></span></label>
						</li>
						<li>
							<span>运费：</span>
							<label>￥0</label>
						</li>
						<li>
							<span>首单代金券减免:</span>
							<label><span>￥</span><span id="derate"><%= derate_money %></span></label>
						</li>
						<li id="voucher">
							<span>代金券</span>
							<span class="pull-right glyphicon glyphicon-menu-right" aria-hidden="true" style="line-height: 2;"></span>
							<input id="voucher_number" type="text" style="visibility: hidden;">
						</li>												
						<li>
							<span>付款金额：</span>
							<label style="color: #ff4141;"><span>￥</span><span id="total_fee"><%= pay_money %></span></label>
						</li>
					</ul>
				</div>
			</div>
			<div class="sum-btn">
				<button type="button" class="btn btn-danger btn-block active" 
				id="chooseWXPay" data-loading-text="请求中.." autocomplete="off">购买</button> 
			</div>
		</div>
	</div>
<script>
	$(function() {
		$('.order-center li').eq(3).on('click', function() {			
			$('#myModal').modal('show');
		});
	});
</script>
<!-- 
	<form action="/admin/order" method="post" style="visibility: hidden;margin-top: -100px;">
	<input type="text" name="openid" id="order_openid">
	<input type="text" name="name" id="order_name">
	<input type="text" name="address" id="order_address">
	<input type="text" name="phone" id="order_phone">
	<input type="text" name="product" id="order_product">
	<input type="text" name="total" id="order_total">
	<input type="text" name="specifications" id="order_specifications">
	<input type="text" name="pay_money" id="order_money">
	<input type="text" name="total_money" id="order_total_money">
	<input type="text" name="derate_money" id="order_derate_money">
	<input type="text" name="out_trade_no" id="order_out_trade_no">
	<input type="text" name="status" value="2">
	<input type="text" name="arr" id="arr">
	<input type="submit" id="sub">
</form> -->

</body>
</html>
