<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>空气净化器伴侣—小咳嗽防雾霾窗贴</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/libs/swiper/swiper-3.4.2.min.css" />
    <script src="/libs/swiper/swiper-3.4.2.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>

<body ontouchstart>
    <img src="/images/fangwumaichuangtie_share.jpeg" style="visibility:hidden;height:0;width:0;" />
    <div class="main">
        <div class="product">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:">
		            		<img src="/images/chuangtie_xuanzhuan1.jpeg"/>
		            	</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:">
		            		<img src="/images/chuangtie_xuanzhuan2.jpeg"/>
		            	</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:">
		            		<img src="/images/chuangtie_xuanzhuan3.jpeg"/>
		            	</a>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <div class="detail">
                <div class="detail-div img-rounded">
                    <div class="detail-group text-center" style="line-height:20px;font-weight:bold;">空气净化器伴侣—小咳嗽防雾霾窗贴</div>
                    <div class="detail-group" style="margin-top:10px;" id="s_money">
                        <% for(var i = 0; i< store.sku_info.length; i++) { %>
                            <div specifications="<%= store.sku_info[i].specifications %>">
                                <span class="col-xs-8" style="width:100%;">
  		现价: ¥ <span id="marketprice" class="text-danger" style="font-size:18px; font-weight:bold;">
			<%= parseInt(store.sku_info[i].price / 100) %></span> 元&nbsp;/ 件
                                <label class="yjia" style="text-decoration:line-through;">
                                    原价：
                                    <%= parseInt(store.sku_info[i].old_price / 100) %>
                                </label>
                                </span>
                            </div>
                            <% } %>
                    </div>

                    <div id="total" class="detail-group" style="margin-top:10px;">
                        <% for(var i = 0;i< store.sku_info.length;i++){ %>
                            <div class="hide" spe="<%= store.sku_info[i].specifications %>">
                                <span style="float:left;margin-top:5px;">数量 :</span>
                                <div class="input-group" style="width:100px;float:left;margin-left:8px;">
                                    <span class="input-group-btn"><button class="btn btn-default btn-sm add" type="button">+</button></span>
                                    <input type="tel" class="form-control" style="width:70px;height:25px;text-align:center" value="0">
                                    <span class="input-group-btn"><button class="btn btn-default btn-sm jian" type="button">-</button></span>
                                </div>
                                <div style="float:left;margin-left:5px;">( 剩余<span><%= store.sku_info[i].stock_num %></span> )</div>
                                <span style="visibility: hidden;"><%= store.sku_info[i].stock_num %></span>
                            </div>
                        <% } %>
                    </div>
                    <div class="detail-group" style="margin-top:10px;" id="menu_specifications">
                        <span style="float:left;margin-top:5px;">规格 :</span>
                        <% for(var i = 0; i< store.sku_info.length; i++) { %>
                            <button class="btn btn-default btn-xs" type="button">
                                <%= store.sku_info[i].specifications %>
                            </button>
                            <% }%>
                    </div>
                </div>
            </div>

            <div class="product-js">
                产品详情
            </div>
            <div class="product-item">
                <img src="/images/fangwumaichuangtie_01.jpeg">
                <img src="/images/fangwumaichuangtie_02.jpeg">
                <img src="/images/fangwumaichuangtie_03.jpeg">
                <img src="/images/fangwumaichuangtie_04.jpeg">
                <img src="/images/fangwumaichuangtie_05.jpeg">
                <img src="/images/fangwumaichuangtie_06.jpeg">
                <img src="/images/fangwumaichuangtie_07.jpeg">
                <img src="/images/fangwumaichuangtie_08.jpeg">
                <img src="/images/fangwumaichuangtie_09.jpeg">
                <img src="/images/fangwumaichuangtie_10.jpeg">
                <img src="/images/fangwumaichuangtie_11.jpeg">
                <img src="/images/fangwumaichuangtie_12.jpeg">
                <img src="/images/fangwumaichuangtie_13.jpeg">
            </div>
 <div class="footer"> <a id="pay" href="javascript:" class="weui-btn weui-btn_primary">提交</a> </div>
        </div>
    </div>
<script type="text/javascript" >
    $(function() {
    new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        loop:true
    });
    var EQ =0;
    //立即购买
    $('#pay').on('click', function(event) {
        var specifications = $.trim($('.active').text());
        var total = Math.abs(parseInt($('#total').children().eq(EQ).find('input').val()));
        if ($(this).attr('disabled')) {
            var url = "/order/create?total=" + total + "&specifications=" + specifications + "&productId=<%= store.product_id %>"
            $('#pay').attr('href', url);
        } else {
            return;
        }
    });


    $('.jian').attr('disabled', true);

    $('#total .add').on('click', function() {
        var t = $(this).parent().next();
        var a = $(this).parent().parent().next().children().text();
        var o = $(this).parent().parent().next().next().text();
        if (a != '已售馨') {
            if (parseInt(t.val()) < o) {
                t.val(Math.abs(parseInt(t.val())) + 1);
                $(this).parent().parent().next().children().text(parseInt(a) - 1);
            }

            if (parseInt(t.val()) != 1) {
                $(this).parent().next().next().find('button').attr('disabled', false);
            }

        }

    });

    $('#total .jian').on('click', function() {
        if ($(this).parent().prev().val() <= 1) {
            $(this).attr('disabled', true);
            return;
        }
        var t = $(this).parent().prev();
        t.val(Math.abs(parseInt(t.val())) - 1);
        var a = $(this).parent().parent().next().children().text();
        $(this).parent().parent().next().children().text(parseInt(a) + 1);
        if (parseInt(t.val()) == 1) {
            $(this).attr('disabled', true);
        }
    });

    $('#total .form-control').on('change', function() {
        var o = $(this).parent().parent().find('span').last().text();
        var v = Math.abs(parseInt($(this).val()));
        if (parseInt(v) <= 1) {
            $('.jian').attr('disabled', true);
        }
        var t = $(this).parent().next().children();
        if (parseInt($(this).val()) > o) {
            $(this).val(o);
            t.text(parseInt(o - $(this).val()));
        } else {
            t.text(parseInt(o) - v);
            $(this).next().children().attr('disabled', false);
        }
    });


    $('#menu_specifications button').on('click', function() {       
                EQ = $(this).index()-1;
        $("#menu_specifications button").removeClass("active");
        $(this).addClass("active");
        var specifications = $(this).text();
        $('#s_money').children().hide();
        $('#s_money').children().eq(EQ).show();
        $('#total').children().addClass('hide');
        var sub = $('#total').children().eq(EQ);
        sub.removeClass('hide');
        if (sub.find('span').last().text() == '0') {
            sub.find('div').last().html('<label style="color: red;">已售馨</label>');
            $('#pay').text('已售馨').attr('disabled', false);
        } else {
            $('#pay').text('立即订购').attr('disabled', true);
        }
        var a = $('#total').children().eq(EQ);
        if (parseInt(a.find('input').val()) == 0) {
            a.find('input').prev().find('button').click();
        }
    });

    $('#menu_specifications button').eq(0).click();

    $.ajax({
        url: '/wx/signature',
        type: 'get',
        data:{
          url: encodeURIComponent(location.href.split('#')[0])
        } 
    }).done(function(res) {
        var data = res.data
        wx.config({
          debug: false,
          appId: data.appid,
          timestamp: data.timestamp,
          nonceStr: data.noncestr,
          signature: data.signature,
          jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'onMenuShareQZone']
        });//wx/config end
    });//ajax end
});

wx.ready(function() {
    var opts = {
        title: '空气净化器伴侣—小咳嗽防雾霾窗贴',
        link: location.href.split('#')[0],
        imgUrl: '<%= url %>/images/fangwumaichuangtie_share.jpeg',
        desc: '双十一大促销: 买二赠一'
    };
    //分享朋友圈
    wx.onMenuShareTimeline(opts);
    //分享给朋友
    wx.onMenuShareAppMessage(opts);
    //分享到QQ
    wx.onMenuShareQQ(opts);
    //分享到腾讯微博
    wx.onMenuShareWeibo(opts);
    //分享到QQ空间
    wx.onMenuShareQZone(opts);
});//ready end       


</script>
<script src="/jqueryweui/lib/fastclick.js"></script>
<script>
//iOS 系统下默认的 click 事件会有300毫秒的延迟，这个延迟是iOS系统的特性而不是jQuery WeUI设定的，可以使用 fastclick 来消除这个延迟。
  $(function() {
    FastClick.attach(document.body);
  });
</script>
</body>
</html>
