<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>我的收货地址</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/js/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
</head>

<script>
	function isPhoneNo(phone) { 
	 var pattern = /^1[34578]\d{9}$/; 
	 return pattern.test(phone); 
	};
	function isChinaName(name) {
 		var pattern = /^[\u4E00-\u9FA5]{1,6}$/;
 		return pattern.test(name);
	};
	function isAddress(address) {
		if(address.length > 0) {
			return true;
		}else{
			return false;	
		}
	};
  function add_info(){
	  $('#err_phone').hide();
	  $('#err_name').hide();
	  $('#err_address').hide();	

		var form_name = $.trim($('#form_name').val());
	  var form_phone = $.trim($('#form_phone').val());
		var form_address = $.trim($('#form_address').val());

	  var phone = isPhoneNo(form_phone);
	  var name = isChinaName(form_name);
	  var address = isAddress(form_address);

		if(!phone){
	  	$('#err_phone').show();
	  	return false;
	  }else if (!name){
	  	$('#err_name').show();
	  	return false;
	  }else if (!address){
	  	$('#err_address').show();
	  	return false;
	  }else{
	  	var name = $('#name').html('');
	  	var phone = $('#phone').html('');
	  	var address = $('#address').html('');

			$('#close').click();
			//ajax
		  $.ajax({
		  	url: '/users/setUserAddress',
		  	type: 'post',
		  	data:{
		  		openid: '<%= openid %>',
		  		name: form_name,
		  		phone: form_phone,
		  		address: form_address
		  	}
		  }).done(function(msg) {
		  	location.reload(true); 
		  }).fail(function(jqXHR, textStatus) {
  			alert( "网络繁忙，请稍后再试！");
			});
			//end ajax
	  }
  };	

</script>

<body style="background: #f5f5f5;">
<% if(data.length === 0) { %>
	<div class="text-center">
	<p >你还没有收货地址~T.T</p>
	<p>快点去下单设置收货地址吧</p>
	<a href="/product/100001" class="btn btn-info btn-sm active">去逛逛</a>
	</div>
<% }else{ %>

<ul class="list-group">
<% for(var i = 0; i< data.length; i++){ %>
    <li class="list-group-item" id="<%= data[i].id %>">
    <p><%= data[i].name %><%= data[i].phone %></p><p><%= data[i].address %></p></li>	
<% } %>
<a id="setAddress"  class="btn btn-info btn-sm" data-toggle="modal" data-target="#newAddress">新增收货地址</a>
<a id="delAddress"  class="btn btn-danger btn-sm">删除收货地址</a>
</ul>
<% } %>

<!-- 模态框（Modal） -->
<div class="modal fade" id="newAddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    设置收获地址
                </h4>
            </div>
            <form id="form_data">
            <div class="modal-body">
                名字: <input type="text" id="form_name" name="name">
                <label id="err_name" style="color: red;">请输入中文名称</label><br>
                电话: <input type="text" id="form_phone" name="phone">
                <label id="err_phone" style="color: red;">请输入正确手机号码</label><br>
                地址: <input type="text" id="form_address" name="address">
                <label id="err_address" style="color: red;">请输入地址</label><br>
            </div>
                <script>$('#err_phone').hide();$('#err_name').hide();$('#err_address').hide();</script>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close">关闭
                </button>
                <button type="button" onclick="add_info()" class="btn btn-primary">
                    提交更改
                </button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<script>
	$(function() {
		$('ul li').on('click', function(event) {
			$(this).addClass('active').siblings().removeClass('active');
		});

		$('#delAddress').on('click', function(event) {
			var id = $('.active').attr('id');
			$.ajax({
				url: '/users/delUserAddress',
				type: 'get',
				data: {
					id: id
				}
			}).done(function(msg) {
				location.reload(true); 
			}).fail(function(jqXHR, textStatus) {
				alert("网络繁忙，请稍后再试！");
			});


		});

	});
</script>

</body>
</html>
