<!DOCTYPE html>
<html>
<head>
    <title>订单</title>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
</head>
<body ontouchstart="">
<div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
        <img src="<%= data.img_url %>" style="width: 100%;"></div>
  </div>
</div>

<div class="weui-cells">
  <div class="weui-cell">
    <div class="weui-cell__hd">
      <label class="weui-label">收件人</label>
    </div>
    <div class="weui-cell__bd" id="name">
        <input  class="weui-input" type="text" placeholder="收件人">
    </div>
    <div class="weui-cell__ft">
      <i class="weui-icon-warn"></i>
    </div>
  </div>
</div>

<div class="weui-cells">
  <div class="weui-cell">
    <div class="weui-cell__hd">
      <label class="weui-label">手机号</label>
    </div>
    <div class="weui-cell__bd" id="phone">
        <input class="weui-input" type="tel" placeholder="手机号">
    </div>
    <div class="weui-cell__ft">
      <i class="weui-icon-warn"></i>
    </div>
  </div>
</div>

<div class="weui-cells">
  <div class="weui-cell">
    <div class="weui-cell__hd">
      <label class="weui-label">城市</label>
    </div>
    <div class="weui-cell__bd" id="city" >
        <input class="weui-input" type="text" placeholder="城市" >
    </div>
    <div class="weui-cell__ft">
      <i class="weui-icon-warn"></i>
    </div>
  </div>
</div>

<div class="weui-cells">
  <div class="weui-cell">
    <div class="weui-cell__hd">
      <label class="weui-label">详细地址</label>
    </div>
    <div class="weui-cell__bd" id="address">
      <input class="weui-input" type="text" placeholder="详细地址">
    </div>
    <div class="weui-cell__ft">
      <i class="weui-icon-warn"></i>
    </div>
  </div>
</div>

<div class="weui-cells">
      <a id="add" href="javascript:;" class="weui-btn weui-btn_warn">确认</a>
</div>


    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/swiper.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>
<script>
    $('.weui-cell__ft').hide();
    function Errel(el) {
        el.next().show();
        el.prev().addClass('weui-cell_warn');
        el.find('input').focus();
        $('#add').addClass('weui-btn_disabled');
    }
    function el(el) {
        el.next().hide();
        el.prev().removeClass('weui-cell_warn');
        $('#add').removeClass('weui-btn_disabled');
    }
    $('#add').on('click', function() {
        if($(this).hasClass('weui-btn_disabled')){
            return false;
        }else{
            var name = $.trim($('#name input').val());
            var phone = $.trim($('#phone input').val());
            var city = $.trim($('#city input').val());
            var address = $.trim($('#address input').val());
            if(!name){
                Errel($('#name')); 
                return false;
            }else if(!phone){
                Errel($('#phone'));
                return false;
            }else if(!city){
                Errel($('#city'));
                return false;
            }else if(!address){
                Errel($('#address'));
                return false;
            }
            address = city + address
            $.ajax({
                url: '/admin/order',
                type: 'post',
                data: {
                    openid: '<%= openid %>',
                    name: name,
                    address: address,
                    phone: phone,
                    product: '<%= product %>',
                    total: '1件',
                    specifications: '<%= specifications %>',
                    pay_money: 0,
                    total_money: 0,
                    derate_money: 0,
                    out_trade_no: '<%= out_trade_no %>',
                    status: 2
                }
            }).done(function(msg){
                $.toast("兑换成功", function() {
                    location.replace('/user/gift');                
                });
            }).fail(function() {
                $.toast("网络超时", "cancel");
            });
        }
    });
    $('.weui-cell__bd').on('change', 'input', function() {
        el($(this).parent());
    });
    $("#city input").cityPicker({
        title: "请选择收货地址"
    });
</script>
</body>
</html>